<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.minminaya.bogemusic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity
            android:name=".finder.activity.FinderActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mine.activity.ListBaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".play.activity.MusicPlayActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".finder.activity.WebSongListActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".play.service.MediaService"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>